
#board {
    height: fit-content;
    width: fit-content;
    background: $dark-green;
    padding: 20px;
    border-radius: 10px;
}
.board-row {
    height: $cell-size + px;
    margin: 1px;
    display: flex;
    flex-wrap: nowrap;
}
.cell {
    height: $cell-size + px;
    width: $cell-size + px;
    background: $light-green;
    margin: 1px;
    display: inline-block;
    position: relative;
}

@mixin dot($colour) {
    .dot {
        height: 6px;
        width: 6px;
        background: $colour;
        position: absolute;
        top: 2px;
        right: 2px;
        border-radius: 100%;
    }
}
.tripple-word {
    background: $red;
    @include dot($red);
}
.tripple-letter {
    background: $blue-tripple;
    @include dot($blue-tripple);
}
.double-word, .star {
    background-color: $orange;
    @include dot($orange);
}
.star {
    background-image: url('/images/scrabble-star.png');
    background-size: $cell-size - 8px $cell-size - 8px;
    background-repeat: no-repeat;
    background-position: center;
}
.double-letter {
    background: $blue-double;
    @include dot($blue-double);
}

.rack-cell {
    background: $rack-dark-green;
}

.letter {
    height: $cell-size + px;
    width: $cell-size + px;
    background: $letter-bg;
    color: $letter;
    border-radius: 3px;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}
.letter p {
    margin: 0;
    font-weight: bolder;
    font-size: 24px;
    margin-left: 8px;
    line-height: $cell-size - 5px;
}
.letter .value {
    font-size: 11px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    line-height: 11px;
}

.refill-button {
    margin: 20px;
}

.bag {
    width: 100%;
    max-width: 350px;

    &:hover {
        cursor: pointer;
    }
}

.game-button {
    background: $yellow-button;

    &:hover {
        background: $yellow;
    }
}

.game-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
