body {
    //background: url("/images/natural-wooden-background.jpg");
    background: url("/images/brown-wooden-flooring.jpg");
    background-size: cover;
}

.navbar {
    background: transparent !important;
    font-size: 16px;
}

.navbar-brand {
    font-family: Scramble;
    font-size: 40px;
    line-height: 40px;
    padding: 0;
}

h1 {
    color: white;
}
.nav-link, .navbar-brand {
    color: white !important;
    &:hover {
        color: $yellow !important;
    }
}

.alert {
    border: none;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.alert-danger {
    color: $red;
}

input:not(input[type="checkbox"]), select, button {
    border-radius: 30px !important;
    padding: 10px 20px !important;
    font-size: 18px !important;
    border: none !important;
}
.form-check .form-check-input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

label {
    font-size: 18px;
    color: white;
}

button[type="submit"] {
    background: $rack-green;
    color: white;

    &:hover {
        background: $rack-dark-green;
    }
}

.link {
    color: white !important;
    font-size: 18px !important;

    &:hover {
        text-decoration: none;
    }
}

.filled-button-link {
    background: $rack-green;
    color: white;
    border-radius: 30px !important;

    &:hover {
        background: $rack-dark-green;
        color: white;
    }
}
.card {
    border-radius: 30px !important;
    background: #ffffffa3;
}
