.scoreboard-container {
    //background: white;
    //width: 100%;
    //height: 100%;
    //border-radius: 10px;
    height: 100%;
}
.scoreboard {
    background: white;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    height: 100%;

    tr {
    }

    th {
        border-bottom: 1px solid grey;
    }

    td, th {
        padding: 5px;
        height: max-content;
        vertical-align: top;

        &:not(:last-child) {
            border-right: 1px solid grey;
        }
    }

    tr:nth-child(2) td {
        height: 100%;
    }
}

.score-list {
    p {
        margin: 0;
    }
}

.score-list-container {
    height: 488px; // $cell-size * 14px;
    overflow-y: auto;
}

.score-input {
    width: 70px;
    border: 1px solid $dark-green important;
    border-radius: 5px !important;
}

.input-placeholder {
    visibility: hidden;
}

.end-game-btn {
    background: $red;
    color: white !important;

    &:hover {
        background: $darker-red;
    }
}
