// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colours
$dark-green: #235748;
$light-green: #4a9c6b;
$orange: #ffc288;
$red: #f33e3d;
$blue-double: #a5e6ff;
$blue-tripple: #24bae7;
$letter-bg: #fee29a;
$letter: #3d5e3d;
$rack-green: #029a9b;
$rack-dark-green: #047171;

// Sizes
$cell-size: 37;
